/* Header */
.header {
  background-color: #000000;
  position: relative;
  z-index: 200;
}

.header-container {
  max-width: 1110px;
  margin: 0 auto;
  padding-block: 35px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-ul {
  display: flex;
  gap: 34px;
  align-items: center;
}

.header-nav-li {
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2px;
  text-align: left;
}

.header-nav-li a:hover {
  color: #d87d4a;
}

.header-cart-icon {
  cursor: pointer;
}

/* Footer */

.footer {
  background-color: #0e0e0e;
}

.footer-container {
  max-width: 1110px;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 48px;
  position: relative;
}
.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.orange-line {
  height: 4px;
  width: 101px;
  background-color: #d87d4a;
  position: absolute;
  left: 0;
  top: 0;
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-ino-text {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.footer-ino-text p {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  opacity: 0.5;
}

.footer-icons {
  display: flex;
  gap: 16px;
  cursor: pointer;
  align-items: center;
}

.footer-icons a:hover {
  filter: invert(50%) sepia(50%) saturate(518%) hue-rotate(338deg)
    brightness(99%) contrast(98%);
}

/* Home */

.home-hero {
  background-color: #0e0e0e;
  background-image: url("./icons/home/desktop/image-hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-hero-container {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-top: 128px;
  padding-bottom: 158px;
}

.home-hero-info span {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 10px;
  text-align: left;
  color: #ffffff;
  opacity: 0.5;
}

.home-hero-info h2 {
  font-size: 56px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 2px;
  text-align: left;
  color: #ffffff;
  max-width: 396px;
  margin-bottom: 24px;
  margin-top: 24px;
}

.home-hero-info p {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  max-width: 349px;
  opacity: 0.75;
  margin-bottom: 40px;
}

.home-hero-btn {
  padding: 15px 30px 15px 30px;
  background-color: #d87d4a;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  text-align: left;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

/* .home-category-all {
  background-color: #f2f2f2;
} */
.home-category-all-container {
  max-width: 1110px;
  margin: 0 auto;
}

.home-nav-items {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 198px;
}

.home-nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 350px;
  height: 212px;
}

.home-nav-item img {
  max-width: 160px;
}

.home-nav-mask {
  width: 350px;
  height: 204px;
  background-color: #f1f1f1;
  border-radius: 8px;
  position: absolute;
  left: 0;
  bottom: -50px;
}

.home-nav-item h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1.2857142686843872px;
  text-align: center;
  margin-bottom: 15px;
}
.home-nav-shop {
  display: flex;
  gap: 14px;
  align-items: center;
}

.home-nav-shop span {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  text-align: left;
  color: #000000;
  opacity: 0.5;
  transition: all 0.3s;
}

.home-nav-shop:hover span {
  color: #d87d4a;
  opacity: 1;
}
.home-nav-item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 5;
}

.home-speaker-container {
  padding-bottom: 50px;
}

.home-speaker {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 138px;
  overflow: hidden;
  background-color: #d87d4a;
  padding-top: 96px;
  position: relative;
  border-radius: 8px;
}

.home-speaker-image {
  width: 410px;
  height: 493px;
  position: relative;
  top: 25px;
  z-index: 10;
}

.home-speaker-image-circle {
  position: absolute;
  left: -150px;
  top: 15px;
}
.home-speaker-info {
  align-self: flex-start;
  margin-top: 37px;
}

.home-speaker-info h2 {
  font-size: 56px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 2px;
  text-align: left;
  margin-bottom: 24px;
  color: #ffffff;
}

.home-speaker-info p {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  opacity: 0.75;
  margin-bottom: 40px;
}

.home-speaker-btn {
  padding: 15px 32px;
  border: none;
  background-color: #000000;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  z-index: 3;
  cursor: pointer;
  transition: all 0.3s;
}

.home-speaker-btn:hover {
  background-color: #4c4c4c;
}

.home-speaker-second {
  background-image: url("./icons/home/desktop/image-speaker-zx7.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  padding: 100px;
}
.home-speaker-second h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 2px;
  text-align: left;
  margin-bottom: 32px;
}
.home-speaker-second button {
  padding: 15px 30px;
  background-color: transparent;
  border: 1px solid #000000;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}

.home-speaker-second button:hover {
  background-color: #000000;
  color: #ffffff;
}

.home-earphones {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.home-earphones-image {
  border-radius: 8px;
  width: 540px;
  height: 320px;
}

.home-earphones-info {
  border-radius: 8px;
  flex: 1;
  background-color: #f1f1f1;
  padding: 95px 101px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 320px;
}

.home-earphones-info h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 2px;
  text-align: left;
  margin-bottom: 32px;
}

.home-earphones-info button {
  padding: 15px 30px;
  background-color: transparent;
  border: 1px solid #000000;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  text-align: left;
  transition: all 0.3s;
}

.home-earphones-info button:hover {
  background-color: #000000;
  color: #ffffff;
}

.home-best-gear {
  display: flex;
  align-items: center;
  gap: 100px;
  padding-top: 122px;
  padding-bottom: 146px;
}

.home-best-gear-info-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.4285714626312256px;
  text-align: left;
  width: 445px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.home-best-gear-info-title span {
  color: #d87d4a;
}

.home-best-gear-info-text {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.5;
}

.home-best-gear-image {
  border-radius: 8px;
}
/* .category {
  background-color: #f2f2f2;
} */

.category-container {
  max-width: 1110px;
  margin: 0 auto;
  padding-top: 160px;
  display: flex;
  flex-direction: column;
}

.category-title {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 98px;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.4285714626312256px;
  text-align: center;
  text-transform: uppercase;
}

.category-item-image-container {
  width: 540px;
  height: 560px;
}

.category-item-image-container img {
  max-width: 540px;
  border-radius: 8px;
}

.category-item {
  display: flex;
  align-items: center;
  gap: 125px;
  padding-bottom: 140px;
}

.category-item:first-child {
  padding-bottom: 0px;
}

.category-item-info-new {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 10px;
  text-align: left;
  color: #d87d4a;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.category-item-info-name {
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.4285714626312256px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.category-item-info-text {
  font-family: Manrope;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.5;
  margin-bottom: 40px;
}
.category-item-info-btn {
  padding: 15px 31px;
  background-color: #d87d4a;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.category-item-info-btn:hover {
  background-color: #fbaf85;
}

.go-back {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.5;
  background-color: transparent;
  border: none;
  padding-top: 79px;
  padding-bottom: 56px;
  cursor: pointer;
}
.gear-item-container {
  max-width: 1110px;
  margin: 0 auto;
}

.gear-item-image {
  max-width: 540px;
  border-radius: 8px;
}

.item-gear-purchase {
  display: flex;
  align-items: center;
  gap: 125px;
  padding-bottom: 160px;
}

.gear-item-price {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1.2857142686843872px;
  text-align: left;
}

.gear-item-buttons {
  margin-top: 47px;
  display: flex;
  gap: 16px;
}

.gear-item-buttons-incr-decr {
  background-color: #f2f2f2;
  padding: 15px;
  display: flex;
  gap: 20px;
}

.gear-item-buttons-incr-decr button {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  background-color: transparent;
  opacity: 0.25;
  cursor: pointer;
}
.gear-item-buttons-incr-decr button:hover {
  color: #d87d4a;
  opacity: 1;
}

.gear-item-buttons-incr-decr span {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  text-align: center;
}

.gear-item-features-box {
  display: flex;
  gap: 125px;
}

.gear-item-features {
  max-width: 635px;
}

.gear-item-features-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.1428571939468384px;
  text-align: left;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.gear-item-features-text {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.5;
}

.gear-item-box-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.1428571939468384px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.gear-item-box-info {
  display: flex;
  gap: 24px;
}

.gear-item-box-info span {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.5;
}

.gear-item-box-info-quantity {
  opacity: 1 !important;
  color: #d87d4a;
}

.gear-item-gallery {
  display: flex;
  gap: 30px;
  margin-block: 100px;
}

.gear-item-gallery img {
  border-radius: 8px;
}

.gear-item-gallery-two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gear-item-others {
  padding-bottom: 40px;
}
.gear-item-others-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.1428571939468384px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 64px;
}

.gear-item-others-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gear-item-others-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gear-item-others-item img {
  max-width: 350px;
  border-radius: 8px;
  margin-bottom: 40px;
}

.gear-item-others-item span {
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 1.7142857313156128px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.cart-items-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.cart-items {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  margin-top: 129px;
}
.cart-items-s {
  background-color: #ffffff;
  padding: 31px;
  border-radius: 8px;
  min-width: 377px;
}

.cart-items-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}

.cart-items-header-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1.2857142686843872px;
  text-align: left;
  text-transform: uppercase;
}
.cart-items-header-title-remove {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.5;
  border: none;
  text-decoration: underline;
  background-color: transparent;
  cursor: pointer;
}

.cart-item-body {
  display: flex;
  align-items: center;
}

.cart-item-body-image {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  margin-right: 16px;
}
.cart-item-body-name-price {
  display: flex;
  flex-direction: column;
}

.cart-item-body-name {
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
}

.cart-item-body-price {
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.5;
}

.cart-item-body-buttons {
  margin-left: auto;
  background-color: #f1f1f1;
  text-align: right;
  padding: 7px 11.5px;
  display: flex;
  align-items: center;
  gap: 18px;
}

.cart-item-body-buttons button {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  text-align: center;
  opacity: 0.25;
  background-color: transparent;
  border: none;
  cursor: pointer !important;
}

.cart-item-body-buttons button:hover {
  color: #d87d4a;
  opacity: 1;
}

.cart-items-body {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

.checkout-btn {
  margin-top: 39px;
  text-transform: uppercase;
  width: 100%;
  padding: 15px 65px;
  background-color: #d87d4a;
  color: #ffffff;
  border: none;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
}

.cart-item-total-text {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.5;
}

.cart-item-total {
  display: flex;
  justify-content: space-between;
}

.cart-item-total-price {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
}

.bg-color {
  filter: invert(53%) sepia(90%) saturate(340%) hue-rotate(337deg)
    brightness(88%) contrast(91%);
}

.section-checkout {
  background-color: #f1f1f1;
}

.checkout-container {
  max-width: 1110px;
  margin: 0 auto;
  padding-bottom: 141px;
}

.checkout-bg {
  /* background-color: #ffffff;
  border-radius: 8px; */
  /* max-width: 730px; */
  display: flex;
  gap: 30px;
}

.checkout-padding {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 48px 54px;
  flex: 1;
}

.checkout-title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.1428571939468384px;
  text-align: left;
  margin-bottom: 41px;
}
.checkout-billing-container {
  margin-bottom: 53px;
}
.form-title {
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.9285714030265808px;
  text-align: left;
  text-transform: uppercase;
  color: #d87d4a;
  margin-bottom: 16px;
}

.form-label {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.2142857164144516px;
  text-align: left;
  text-transform: capitalize;
  display: block;
  margin-bottom: 9px;
}

.form-input {
  max-width: 303px;
  width: 100%;
  padding: 18px 24px;
  border-radius: 8px;
  border: 1px solid #cfcfcf;
}

.form-billing {
  display: flex;
  gap: 16px;
}

.checkout-billing {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.from-input-full {
  padding: 18px 24px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #cfcfcf;
  margin-bottom: 24px;
}
.form-name {
  flex: 1;
}
.from-email {
  flex: 1;
}

.form-number {
  margin-top: 24px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.checkout-info-container {
  margin-bottom: 61px;
}
input:focus {
  outline: none;
  border: 1px solid #d87d4a !important;
}

.checkout-pay {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.checkout-pay span {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.2142857164144516px;
  text-align: left;
}
.payment-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.payment-detail {
  padding: 18px 16px;
  width: 303px;
  border-radius: 8px;
  border: 1px solid #cfcfcf;
  display: flex;
  align-items: center;
  gap: 16px;
}
.payment-detail label {
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: -0.25px;
  text-align: left;
}
input[type="radio"] {
  accent-color: #d87d4a;
}

.paymeny-cash {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 30px;
}

.paymeny-cash p {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.5;
}

.checkout-item-pay {
  background-color: #ffffff;
  padding: 32px 33px;
  width: 350px;
  height: max-content;
  border-radius: 8px;
}

.checkout-item-pay-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1.2857142686843872px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 31px;
}

.checkout-item img {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  margin-right: 16px;
}

.checkout-item {
  display: flex;
  align-items: center;
}

.checkout-item-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.checkout-item-info-name {
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
}
.checkout-item-info-price {
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.5;
}

.footer-icon {
  display: flex;
  gap: 16px;
  align-items: center;
}

.checkout-item-quan {
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: right;
  opacity: 0.5;
}

.checkout-items {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

.counter-total {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.totla-info {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
}

.totla-info span:first-child {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.5;
}
.totla-info span:last-child {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: right;
}

.totla-info:last-child {
  margin-top: 16px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 3px;
  display: none;
}
.mobile-menu span {
  background-color: #ffffff;
  height: 3px;
  width: 16px;
}

.mb-mn {
  display: flex;
  align-items: center;
  gap: 42px;
}

.mobile-footer-p {
  display: none;
}
.for-mobile-only {
  display: none;
}
.item-gear-purchase img {
  width: 540px;
  height: 560px;
}
@media screen and (max-width: 768px) {
  .header-container {
    max-width: 689px;
  }

  .header-nav {
    display: none;
  }

  .mobile-menu {
    display: flex;
  }

  .home-hero {
    background-image: url("./icons/home/tablet/image-header.jpg");
  }

  .home-hero-container {
    max-width: 689px;
    justify-content: center;
  }

  .home-hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-hero-info h2 {
    text-align: center;
  }
  .home-hero-info p {
    text-align: center;
  }
  .home-nav-item {
    width: 223px;
  }
  .home-nav-mask {
    width: 100%;
    height: 165px;
    bottom: -15px;
  }
  .home-category-all-container {
    max-width: 689px;
  }
  .home-nav-item img {
    max-width: 147px;
  }
  .home-speaker {
    flex-direction: column;
    gap: 64px;
    padding-bottom: 64px;
  }

  .home-speaker-image {
    max-width: 197px;
    height: 237px;
    top: 0;
  }
  .home-speaker-image-circle {
    left: 50%;
    transform: translate(-50%);
    top: -230px;
  }
  .home-speaker-info {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-speaker-info h2 {
    text-align: center;
  }

  .home-speaker-info p {
    text-align: center;
  }
  .home-speaker-second {
    background-image: url("./icons/home/tablet/image-speaker-zx7.jpg");
    padding: 62px;
  }
  .home-earphones-image {
    width: 339px;
    height: 320px;
    object-fit: cover;
  }
  .home-earphones-info {
    padding: 101px 42px;
  }

  .home-best-gear {
    flex-direction: column;
  }

  .home-best-gear-info {
    order: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .home-best-gear-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .home-best-gear-info-title {
    margin: 0;
    margin-bottom: 32px;
    text-align: center;
    width: 573px;
  }

  .home-best-gear-info-text {
    text-align: center;
  }

  .mb {
    display: flex;
  }

  .footer-container {
    max-width: 689px;
  }

  .footer-nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  .footer-info {
    flex-direction: column;
    align-items: flex-start;
  }
  .mobile-desktop-p {
    display: none;
  }

  .mobile-footer-p {
    display: block;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: #ffffff;
    opacity: 0.5;
    flex: 1;
  }

  .footer-ino-text {
    margin-bottom: 81px;
  }

  .footer-icons {
    align-items: center;
    width: 100%;
  }

  .category-container {
    max-width: 689px;
  }
  .category-item {
    flex-direction: column;
  }
  .category-item-image-container {
    width: 100%;
    height: 352px;
  }

  .category-item-image-container img {
    max-width: 689px;
  }
  .category-item-info-new {
    text-align: center;
  }
  .category-item-info-name {
    text-align: center;
  }

  .category-item-info-text {
    text-align: center;
    max-width: 572px;
  }
  .category-item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .category-item {
    padding-bottom: 120px;
  }

  .category-item-image-container {
    order: -5 !important;
  }

  .home-nav-items {
    padding-bottom: 150px;
  }

  .gear-item-container {
    max-width: 689px;
  }
  .item-gear-purchase {
    gap: 70px;
    padding-bottom: 120px;
  }

  .item-gear-purchase img {
    width: 281;
    height: 480px;
  }

  .tab {
    text-align: left;
  }

  .category-item-info-name {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px;
    text-align: left;
  }
  .category-item-info-btn {
    padding: 15px 34px;
  }

  .gear-item-features-box {
    flex-direction: column;
  }

  .gear-item-box {
    display: flex;
  }

  .gear-item-box-title {
    flex: 1;
  }
  .for-tb {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .gear-item-gallery-two img {
    width: 314px;
  }
  .for-tb-image-size {
    width: 355px;
    object-fit: cover;
  }
  .gear-item-gallery {
    gap: 20px;
  }

  .gear-item-gallery-two {
    gap: 20px;
  }

  .gear-item-others-item img {
    width: 223px;
    height: 318px;
  }
  .cart-items {
    max-width: 689px;
  }

  .checkout-container {
    max-width: 689px;
  }
  .checkout-bg {
    flex-direction: column;
  }
  .checkout-item-pay {
    width: 100%;
  }
  .form-input {
    max-width: 282px;
  }

  .bg-changer {
    background-color: #ffffff;
    padding-bottom: 67px;
    border-radius: 8px;
  }
}

@media screen and (max-width: 415px) {
  .header-container {
    max-width: 375px;
    padding-inline: 20px;
  }

  .for-mobile-only {
    display: block;
  }

  .home-category-all {
    padding-inline: 20px;
  }

  .mb-mn a {
    display: none;
  }

  .home-hero {
    background-image: url("./icons/home/mobile/image-header.jpg");
  }
  .home-hero-container {
    max-width: 375px;
  }

  .home-hero-info h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1.2857142686843872px;
    text-align: center;
    text-transform: uppercase;
  }

  .home-hero-info p {
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
  }
  .home-category-all-container {
    max-width: 375px;
  }
  .home-nav-items {
    flex-direction: column;
    padding-bottom: 100px;
  }
  .bg-changer {
    padding-inline: 24px;
  }
  .home-nav-item {
    width: 100%;
  }

  .home-speaker-image {
    height: 207px;
    width: 172px;
  }

  .home-speaker {
    gap: 32px;
  }

  .home-speaker-info h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1.2857142686843872px;
    text-align: center;
  }

  .home-speaker-info p {
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    width: 280px;
  }
  .home-speaker-second {
    background-image: url("./icons/home/mobile/image-speaker-zx7.jpg");
    padding-block: 90px;
    padding-inline: 20px;
  }

  .home-speaker-second h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 2px;
    text-align: left;
  }
  .home-earphones {
    flex-direction: column;
  }

  .home-earphones-image {
    width: 100%;
  }
  .home-earphones-info {
    width: 100%;
  }

  .home-best-gear-info-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 1px;
    text-align: center;
  }
  .home-best-gear-info-title {
    width: 327px;
  }
  .footer-container {
    padding-inline: 24px;
  }
  .header-nav-ul {
    flex-direction: column;
  }
  .footer-nav {
    justify-content: center;
    align-items: center;
    gap: 48px;
  }
  .header-nav-ul {
    gap: 16px;
  }
  .footer-ino-text {
    width: 100%;
  }
  .footer-ino-text p {
    text-align: center;
  }

  .footer-icons {
    flex-direction: column;
    gap: 50px;
  }
  .orange-line {
    left: 50%;
    transform: translate(-50%);
  }

  .category-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 2px;
    text-align: center;
    padding-block: 32px;
  }
  .category-container {
    max-width: 375px;
    padding-inline: 24px;
    padding-top:64px;
  }
  .category-item-image-container img {
    max-width: 327px;
  }
  .category-item {
    gap: 32px;
  }
  .category-item-info-new {
    margin-bottom: 24px;
  }
  .category-item-info-name {
    text-align: center;
  }
  .gear-item-container {
    max-width: 375px;
    padding-inline: 24px;
  }
  .item-gear-purchase img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  .item-gear-purchase {
    flex-direction: column;
  }
  .category-item-info-name {
    line-height: 50px;
  }
  .tab {
    text-align: left;
  }
  .gear-item-buttons-incr-decr {
    gap: 30px;
  }
  .gear-item-features-title {
    font-size: 24px;
  }
  .gear-item-features-box {
    gap: 88px;
  }
  .gear-item-box {
    flex-direction: column;
  }
  .gear-item-box-title {
    font-size: 24px;
  }
  .gear-item-gallery {
    flex-direction: column;
  }
  .gear-item-gallery img {
    width: 100%;
  }
  .gear-item-others-items {
    flex-direction: column;
    gap: 58px;
  }
  .gear-item-others-item img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 32px;
  }
  .gear-item-others-title {
    font-size: 24px;
  }
  .cart-items {
    max-width: 375px;
    padding-inline: 24px;
    justify-content: center;
  }
  .cart-items-s{
    width: 100%;
    min-width: 0;
  }
  .checkout-container {
    max-width: 375px;
    padding-inline: 24px;
    padding-bottom: 97px;
  }
  .go-back {
    padding-block:16px;
  }

  .form-billing {
    flex-direction: column;
  }
  .form-input {
    width: 100%;
  }
  .checkout-pay {
    flex-direction: column;
  }
  .payment-detail {
    width: 100%;
  }
  .checkout-pay span {
    margin-bottom: 17px;
  }
}
